# system
.DS_Store

# unity project
/[Ll]ogs
/[Ll]ibrary
/[Tt]emp
/[Oo]bj

#memory captures
/MemoryCaptures

#user setting
/UserSettings

/PC_PDB
/PC_PDB/
/PC_PDB*
/AssetBundles/Android
/AssetBundles/iOS
/AssetBundles/OSX
/AssetBundles/Windows
/AssetBundles

IL2CPPSymbols/
clientevent_*

# ls project
/Assets/StreamingAssets/AssetBundles/
/Assets/StreamingAssets/AssetBundles.meta
/Assets/StreamingAssets/google-services-desktop.json.meta
#/Assets/Main/LuaTxt/*
/Assets/Main/DataTable/LuaTxt/*
Assets/Main/LuaTxt/**/*.meta
Assets/Main/LuaTxt/**/*.bytes.meta
#Assets/Main/LuaTxt/*
Assets/Main/DataTable/LuaTxt/LuaDatatable/*

*.log
*.log.meta
*.pyc
*.zip
*.mayaSwatches

# vs files
.vs/
.vscode/
*.csproj
*.sln
*.userprefs

# android files
*.apk
*.obb
*.symbols.zip
.kiro
.kimi

#mac
\~\$*


# android studio
.gradle/
.idea/
/proj_temp

Patch
PatchMCDebug
PatchMCOnline
symbols

# xcode
xcuserdata/
/proj_xcode/Classes/Native
/proj_xcode/Data
/proj_xcode/Pods
/proj_xcode/Unity-iPhone.xcworkspace


/proj_temp_BurstDebugInformation_DoNotShip

/proj_android/Survivor/unityLibrary/src/main/Il2CppOutputProject/*
/proj_android/Survivor/unityLibrary/build.gradle
/proj_android/Survivor/unityLibrary/symbols/arm64-v8a/libil2cpp.so

Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/*

Assets/Test/*
Assets/Test*
Assets/ConsolePro/*
Assets/ConsolePro*
Assets/_Art_LastDay/AmplifyShaderEditor/Plugins/*
Assets/Rock/*
Assets/Editor/x64/*
Assets/Main/Scripts/3rdParty/Bakery/*


# xlua
/Tools/JPSPlusGoalBounding/build-vs2019/
/MapEditor/Library

#LocalTest
/local

/SerializedBuildInfo
.lpproj
ui_sound_record.txt
.cursor

#landscope
Assets/Landscape/Main/LuaTxt/*
Assets/Landscape/Main/LuaTxt.meta


#liudi local
Assets/Local_Liudi*

#win
/proj_win_temp
/BuildOutput/**/*.exe
*.user

#synmols
/symbols_backup
Assets/HierarchyExtensionSetting.asset
Assets/HierarchyExtensionSetting.asset.meta
Assets/LuaClassIndex.asset
Assets/LuaClassIndex.asset.meta
Assets/FR2_Cache.asset.meta
Assets/FR2_Cache.asset
Assets/Editor/UI/UIExporter/UIExporterSettings.asset
Assets/Editor/UI/UIExporter/UIExporterSettings.asset.meta
CSV
.emmyrc.json
.cursorignore
.trae
Assets/FZH.meta
Assets/FZH
diffTemp
git_diff_lua.bat
git_discard_auto_changes.bat
git_discard_auto_changes_strict.bat
rebase_pull.bat
switch_submodule_branch.bat
git_diff_migration.bat
MigrationDiffs
tempDoc
scripts
process_doc.bat
AGENTS.md
