<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133356195584-es76p1dvqq316c9plr3fkuvkh21aighs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133356195584-es76p1dvqq316c9plr3fkuvkh21aighs</string>
	<key>API_KEY</key>
	<string>AIzaSyDMpm40ADItYWr8nc7OGNvykqxigkfbVWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>133356195584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igg.ios.demo8</string>
	<key>PROJECT_ID</key>
	<string>devdemo-221901</string>
	<key>STORAGE_BUCKET</key>
	<string>devdemo-221901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133356195584:ios:f6ba0ae0ccb7b8966fede5</string>
	<key>DATABASE_URL</key>
	<string>https://devdemo-221901.firebaseio.com</string>
</dict>
</plist>