<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.igg.ios.originofconquerors</key>
		<string>414c4b79-7510-4226-b910-fa03940f6d7a</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
</dict>
</plist>
